*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-right-10 {
  right: -2.5rem;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-6 {
  bottom: 1.5rem;
}

.left-1\/2 {
  left: 50%;
}

.right-9 {
  right: 2.25rem;
}

.top-0 {
  top: 0px;
}

.top-\[29\] {
  top: 29;
}

.top-\[29px\] {
  top: 29px;
}

.-top-\[29px\] {
  top: -29px;
}

.left-\[\] {
  left: ;
}

.left-\[31px\] {
  left: 31px;
}

.-top-\[25px\] {
  top: -25px;
}

.-top-\[27px\] {
  top: -27px;
}

.left-\[35px\] {
  left: 35px;
}

.left-\[37px\] {
  left: 37px;
}

.z-\[100\] {
  z-index: 100;
}

.float-right {
  float: right;
}

.m-0 {
  margin: 0px;
}

.m-\[6px\] {
  margin: 6px;
}

.mx-\[405px\] {
  margin-left: 405px;
  margin-right: 405px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-\[14px\] {
  margin-top: 14px;
  margin-bottom: 14px;
}

.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.my-\[10px\] {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-\[6px\] {
  margin-top: 6px;
  margin-bottom: 6px;
}

.mx-\[\] {
  margin-left: ;
  margin-right: ;
}

.mx-\[32px\] {
  margin-left: 32px;
  margin-right: 32px;
}

.my-\[\] {
  margin-top: ;
  margin-bottom: ;
}

.my-\[58px\] {
  margin-top: 58px;
  margin-bottom: 58px;
}

.my-\[80px\] {
  margin-top: 80px;
  margin-bottom: 80px;
}

.my-\[100px\] {
  margin-top: 100px;
  margin-bottom: 100px;
}

.-mt-\[20px\] {
  margin-top: -20px;
}

.-mt-\[67px\] {
  margin-top: -67px;
}

.mb-\[10px\] {
  margin-bottom: 10px;
}

.mb-\[12px\] {
  margin-bottom: 12px;
}

.mb-\[30px\] {
  margin-bottom: 30px;
}

.mb-\[40px\] {
  margin-bottom: 40px;
}

.mb-\[52px\] {
  margin-bottom: 52px;
}

.mb-\[60px\] {
  margin-bottom: 60px;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-\[20px\] {
  margin-right: 20px;
}

.mr-\[23px\] {
  margin-right: 23px;
}

.mr-\[25px\] {
  margin-right: 25px;
}

.mr-\[7px\] {
  margin-right: 7px;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-\[110px\] {
  margin-top: 110px;
}

.mt-\[17px\] {
  margin-top: 17px;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.mt-\[38px\] {
  margin-top: 38px;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.mt-\[0px\] {
  margin-top: 0px;
}

.mt-\[64px\] {
  margin-top: 64px;
}

.mt-\[6px\] {
  margin-top: 6px;
}

.mt-\[62px\] {
  margin-top: 62px;
}

.mt-\[60px\] {
  margin-top: 60px;
}

.mr-0 {
  margin-right: 0px;
}

.mr-\[\] {
  margin-right: ;
}

.mr-\[30px\] {
  margin-right: 30px;
}

.mt-\[px\] {
  margin-top: px;
}

.mt-\[58px\] {
  margin-top: 58px;
}

.mb-\[25px\] {
  margin-bottom: 25px;
}

.mb-\[0px\] {
  margin-bottom: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-\[32px\] {
  margin-top: 32px;
}

.mb-\[100px\] {
  margin-bottom: 100px;
}

.ml-\[20px\] {
  margin-left: 20px;
}

.mr-\[29px\] {
  margin-right: 29px;
}

.ml-\[29px\] {
  margin-left: 29px;
}

.ml-\[23px\] {
  margin-left: 23px;
}

.mt-\[100px\] {
  margin-top: 100px;
}

.ml-\[10px\] {
  margin-left: 10px;
}

.mb-\[23px\] {
  margin-bottom: 23px;
}

.mr-\[3\] {
  margin-right: 3;
}

.mr-\[32px\] {
  margin-right: 32px;
}

.ml-\[16px\] {
  margin-left: 16px;
}

.mt-\[\] {
  margin-top: ;
}

.mt-\[10\] {
  margin-top: 10;
}

.mt-\[5px\] {
  margin-top: 5px;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-\[7px\] {
  margin-top: 7px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.list-item {
  display: list-item;
}

.size-full {
  width: 100%;
  height: 100%;
}

.h-11 {
  height: 2.75rem;
}

.h-20 {
  height: 5rem;
}

.h-\[1250px\] {
  height: 1250px;
}

.h-\[13px\] {
  height: 13px;
}

.h-\[155px\] {
  height: 155px;
}

.h-\[21px\] {
  height: 21px;
}

.h-\[25px\] {
  height: 25px;
}

.h-\[336px\] {
  height: 336px;
}

.h-\[495px\] {
  height: 495px;
}

.h-\[49px\] {
  height: 49px;
}

.h-\[69px\] {
  height: 69px;
}

.h-auto {
  height: auto;
}

.h-\[\] {
  height: ;
}

.h-\[64\] {
  height: 64;
}

.h-\[64px\] {
  height: 64px;
}

.h-\[42px\] {
  height: 42px;
}

.h-\[43px\] {
  height: 43px;
}

.h-\[px\] {
  height: px;
}

.h-\[39px\] {
  height: 39px;
}

.h-\[37px\] {
  height: 37px;
}

.h-\[36px\] {
  height: 36px;
}

.h-\[36\.5px\] {
  height: 36.5px;
}

.h-\[37\.5px\] {
  height: 37.5px;
}

.h-\[433px\] {
  height: 433px;
}

.h-\[a\] {
  height: a;
}

.h-\[40\.5px\] {
  height: 40.5px;
}

.h-\[4px\] {
  height: 4px;
}

.h-\[44px\] {
  height: 44px;
}

.h-\[32px\] {
  height: 32px;
}

.h-\[41px\] {
  height: 41px;
}

.h-\[56\] {
  height: 56;
}

.h-\[56px\] {
  height: 56px;
}

.h-\[40x\] {
  height: 40x;
}

.h-\[11px\] {
  height: 11px;
}

.min-h-\[612px\] {
  min-height: 612px;
}

.w-\[1000px\] {
  width: 1000px;
}

.w-\[1080px\] {
  width: 1080px;
}

.w-\[1112px\] {
  width: 1112px;
}

.w-\[113px\] {
  width: 113px;
}

.w-\[1238px\] {
  width: 1238px;
}

.w-\[145px\] {
  width: 145px;
}

.w-\[160px\] {
  width: 160px;
}

.w-\[202px\] {
  width: 202px;
}

.w-\[237px\] {
  width: 237px;
}

.w-\[330px\] {
  width: 330px;
}

.w-\[341px\] {
  width: 341px;
}

.w-\[35px\] {
  width: 35px;
}

.w-\[435px\] {
  width: 435px;
}

.w-\[667px\] {
  width: 667px;
}

.w-\[75\.73px\] {
  width: 75.73px;
}

.w-\[830px\] {
  width: 830px;
}

.w-full {
  width: 100%;
}

.w-\[667\] {
  width: 667;
}

.w-\[650px\] {
  width: 650px;
}

.w-\[331px\] {
  width: 331px;
}

.w-\[\] {
  width: ;
}

.w-\[246px\] {
  width: 246px;
}

.w-\[264px\] {
  width: 264px;
}

.w-\[205\.7px\] {
  width: 205.7px;
}

.w-\[205px\] {
  width: 205px;
}

.w-\[300px\] {
  width: 300px;
}

.w-40 {
  width: 10rem;
}

.w-\[340px\] {
  width: 340px;
}

.w-\[1340px\] {
  width: 1340px;
}

.w-\[400px\] {
  width: 400px;
}

.w-\[325px\] {
  width: 325px;
}

.w-\[56px\] {
  width: 56px;
}

.w-\[40px\] {
  width: 40px;
}

.w-\[350px\] {
  width: 350px;
}

.w-\[11px\] {
  width: 11px;
}

.w-\[560px\] {
  width: 560px;
}

.max-w-\[260px\] {
  max-width: 260px;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.list-none {
  list-style-type: none;
}

.flex-row {
  flex-direction: row;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-0 {
  gap: 0px;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-7 {
  gap: 1.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-1 {
  gap: 0.25rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.rounded-\[3px\] {
  border-radius: 3px;
}

.border {
  border-width: 1px;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-\[\#dddddd\] {
  --tw-border-opacity: 1;
  border-color: rgb(221 221 221 / var(--tw-border-opacity, 1));
}

.border-\[\#ffffff\] {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.border-gray-500 {
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity, 1));
}

.border-\[gray-500\] {
  border-color: gray-500;
}

.border-\[\#dadee4\] {
  --tw-border-opacity: 1;
  border-color: rgb(218 222 228 / var(--tw-border-opacity, 1));
}

.border-\[\] {
  border-color: ;
}

.border-\[\#3570D2\] {
  --tw-border-opacity: 1;
  border-color: rgb(53 112 210 / var(--tw-border-opacity, 1));
}

.border-\[\#\] {
  border-color: #;
}

.border-\[\#357\] {
  --tw-border-opacity: 1;
  border-color: rgb(51 85 119 / var(--tw-border-opacity, 1));
}

.border-\[\#e0e0e0\] {
  --tw-border-opacity: 1;
  border-color: rgb(224 224 224 / var(--tw-border-opacity, 1));
}

.bg-\[\#3570d2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(53 112 210 / var(--tw-bg-opacity, 1));
}

.bg-\[\#C78F00\] {
  --tw-bg-opacity: 1;
  background-color: rgb(199 143 0 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F85B06\] {
  --tw-bg-opacity: 1;
  background-color: rgb(248 91 6 / var(--tw-bg-opacity, 1));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-\[\#3\] {
  background-color: #3;
}

.bg-\[\#357\] {
  --tw-bg-opacity: 1;
  background-color: rgb(51 85 119 / var(--tw-bg-opacity, 1));
}

.bg-\[\#3570D2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(53 112 210 / var(--tw-bg-opacity, 1));
}

.bg-\[\] {
  background-color: ;
}

.bg-\[rgb\(225\2c 194\2c 169\)\] {
  --tw-bg-opacity: 1;
  background-color: rgb(225 194 169 / var(--tw-bg-opacity, 1));
}

.bg-\[rgb\(240\2c 181\2c 192\)\] {
  --tw-bg-opacity: 1;
  background-color: rgb(240 181 192 / var(--tw-bg-opacity, 1));
}

.bg-\[linear-gradient\(189deg\2c \#6d97de\2c \#1c4b9a\)\] {
  background-image: linear-gradient(189deg,#6d97de,#1c4b9a);
}

.bg-\[url\(\'\.\.\/assets\/bg-banner\.jpg\'\)\] {
  background-image: url('../assets/bg-banner.jpg');
}

.p-0 {
  padding: 0px;
}

.p-4 {
  padding: 1rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.px-\[15px\] {
  padding-left: 15px;
  padding-right: 15px;
}

.px-\[8px\] {
  padding-left: 8px;
  padding-right: 8px;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[11px\] {
  padding-top: 11px;
  padding-bottom: 11px;
}

.py-\[16px\] {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-\[2px\] {
  padding-top: 2px;
  padding-bottom: 2px;
}

.py-\[9px\] {
  padding-top: 9px;
  padding-bottom: 9px;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-\[\] {
  padding-top: ;
  padding-bottom: ;
}

.py-\[7px\] {
  padding-top: 7px;
  padding-bottom: 7px;
}

.py-\[px\] {
  padding-top: px;
  padding-bottom: px;
}

.py-\[6px\] {
  padding-top: 6px;
  padding-bottom: 6px;
}

.py-\[5px\] {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-\[4px\] {
  padding-top: 4px;
  padding-bottom: 4px;
}

.px-\[18px\] {
  padding-left: 18px;
  padding-right: 18px;
}

.py-\[8px\] {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-\[7\.5px\] {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.py-\[50px\] {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-\[113px\] {
  padding-bottom: 113px;
}

.pb-\[21px\] {
  padding-bottom: 21px;
}

.pl-9 {
  padding-left: 2.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pt-0 {
  padding-top: 0px;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-\[24px\] {
  padding-top: 24px;
}

.pt-\[36pt\] {
  padding-top: 36pt;
}

.pt-\[82px\] {
  padding-top: 82px;
}

.pt-\[91px\] {
  padding-top: 91px;
}

.pt-\[45px\] {
  padding-top: 45px;
}

.pt-\[20px\] {
  padding-top: 20px;
}

.pb-\[1\] {
  padding-bottom: 1;
}

.pb-\[17px\] {
  padding-bottom: 17px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.font-alo {
  font-family: Lato, sans-serif;
}

.text-\[10px\] {
  font-size: 10px;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[19px\] {
  font-size: 19px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[21px\] {
  font-size: 21px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[26px\] {
  font-size: 26px;
}

.text-\[28px\] {
  font-size: 28px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[36px\] {
  font-size: 36px;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-\[17px\] {
  font-size: 17px;
}

.font-bold {
  font-weight: 700;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.leading-8 {
  line-height: 2rem;
}

.leading-\[20px\] {
  line-height: 20px;
}

.leading-\[22px\] {
  line-height: 22px;
}

.leading-\[33px\] {
  line-height: 33px;
}

.leading-\[69px\] {
  line-height: 69px;
}

.leading-\[44px\] {
  line-height: 44px;
}

.leading-3 {
  line-height: .75rem;
}

.leading-9 {
  line-height: 2.25rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.leading-\[56px\] {
  line-height: 56px;
}

.leading-\[\] {
  line-height: ;
}

.text-\[\#3570D2\] {
  --tw-text-opacity: 1;
  color: rgb(53 112 210 / var(--tw-text-opacity, 1));
}

.text-\[\#3670D2\] {
  --tw-text-opacity: 1;
  color: rgb(54 112 210 / var(--tw-text-opacity, 1));
}

.text-\[\#424242\] {
  --tw-text-opacity: 1;
  color: rgb(66 66 66 / var(--tw-text-opacity, 1));
}

.text-\[\#7f7f7f\] {
  --tw-text-opacity: 1;
  color: rgb(127 127 127 / var(--tw-text-opacity, 1));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-\[\] {
  color: ;
}

.text-\[\#3\] {
  color: #3;
}

.text-\[\#3b3\] {
  --tw-text-opacity: 1;
  color: rgb(51 187 51 / var(--tw-text-opacity, 1));
}

.text-\[\#3b3738\] {
  --tw-text-opacity: 1;
  color: rgb(59 55 56 / var(--tw-text-opacity, 1));
}

.text-\[\#\] {
  color: #;
}

.text-\[\#357\] {
  --tw-text-opacity: 1;
  color: rgb(51 85 119 / var(--tw-text-opacity, 1));
}

.text-\[\#3570\] {
  color: #3570;
}

.text-\[\#3570d2\] {
  --tw-text-opacity: 1;
  color: rgb(53 112 210 / var(--tw-text-opacity, 1));
}

.text-\[1\] {
  color: 1;
}

.text-\[\#3B37\] {
  color: #3B37;
}

.text-\[\#3B3738\] {
  --tw-text-opacity: 1;
  color: rgb(59 55 56 / var(--tw-text-opacity, 1));
}

.text-\[11\] {
  color: 11;
}

.text-\[\#3B2\] {
  --tw-text-opacity: 1;
  color: rgb(51 187 34 / var(--tw-text-opacity, 1));
}

.text-\[\#3B2728\] {
  --tw-text-opacity: 1;
  color: rgb(59 39 40 / var(--tw-text-opacity, 1));
}

.text-\[\#9e9e9e\] {
  --tw-text-opacity: 1;
  color: rgb(158 158 158 / var(--tw-text-opacity, 1));
}

.placeholder-black::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(0 0 0 / var(--tw-placeholder-opacity, 1));
}

.placeholder-black::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(0 0 0 / var(--tw-placeholder-opacity, 1));
}

.placeholder-white::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(255 255 255 / var(--tw-placeholder-opacity, 1));
}

.placeholder-white::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(255 255 255 / var(--tw-placeholder-opacity, 1));
}

.placeholder-\[\]::-moz-placeholder {
  color: ;
}

.placeholder-\[\]::placeholder {
  color: ;
}

.placeholder-\[\#\]::-moz-placeholder {
  color: #;
}

.placeholder-\[\#\]::placeholder {
  color: #;
}

.opacity-0 {
  opacity: 0;
}

.opacity-\[\] {
  opacity: ;
}

.opacity-\[0\.7\] {
  opacity: 0.7;
}

.shadow-\[inset_25px_-26px_160px_\#1c4b9a\] {
  --tw-shadow: inset 25px -26px 160px #1c4b9a;
  --tw-shadow-colored: inset 25px -26px 160px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}